/*自定义bootstrap全局样式开始*/

/*
blue:#2577E3
dark-blue:0A56BB;
yellow:#FF9913

red:FE3824;

deepRed:D0021B;

*/



/*重要改变*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

body,p,div,span,section,nav,ul,li,a,tr,td,th
{
    font-family: "Microsoft Yahei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti !important;
}
body
{
    position: relative;
}


#popBg
{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    -webkit-opacity:.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100
}
#pop
{
    width: 50%;
    height: 50%;
    position: absolute;
    top: -300px;
    /*bottom: 0;*/
    left: 0;
    right: 0;
    margin: auto;
    z-index: 101;
}

#pop button
{
    float: right;
    background: none;
}

#pop img
{
    width: 100%;
    box-shadow: 10px 10px 30px #333;

}

.btn-warning
{
    background: #FF9913;
}

.logoImg
{
    height: 60px;
    margin: 10px 0;
}
.logoRow
{
    height: 80px;
    padding-right: 15px;
}
.menuContainer
{
    /*background: #ccc;*/
    background: #2577E3;
    height: 40px;
}
.navPhoneBox
{
    height: 40px;
    margin-top: 20px;
    width: 300px;
    position: relative;
}

.stock
{
    display: inline-block;
    height: 80px;
    font-size: 18px;
    line-height: 80px;
    color: #FE3824;
}

.phoneNum
{
    margin-left: 50px;
    height: 40px;
    display: inline-block;
    margin-top: 0;
    padding: 0;
}

.phoneNum p
{
    height: 12px;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
/*.phoneNum p:last-child
{
    color: #FF9913;
    font-size: 24px;
}*/
.navPhoneBox img:first-child
{
    position: absolute;

}
.navPhoneBox img:last-child
{
    position: absolute;
    right: 0;
}



nav
{
    min-width: 1180px;
}
nav ul
{
    list-style: none;
    background: #2577e3;
    /*background: #ccc;*/
    color: #fff;
    height: 40px;
    line-height: 40px;
    /*padding: 0;*/
    padding-left: 15px;
    position: relative;
    z-index: 2;
    /*z-index: -2;*/
    /*overflow: hidden;*/
}
nav ul li
{
    float: left;
    padding: 0 10px;
    margin: 0 5px 0 0;
    position: relative;
    font-size: 14px;
}

.activeNav
{
    background: #0A56BB;
}

.sale
{
    position: absolute;
    top: -10px;
    left: 20px;
    width: 30px;
    height: 16px;
    background: #FE3824;
    color: #fff;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
}

.sale:after
{
    content: '';
    width: 0;
    height: 0;
    border-top:5px solid #FE3824;
    border-left:5px solid #fe3824;
    border-bottom:5px solid transparent;
    position: absolute;
    top: 11px;
    left: 0;
    z-index: 1;
}

nav ul li>a:link,nav ul li>a:visited
{
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 5px;
}

.menuBg
{
    width: 100%;
    height: 0;
    background: #0A56BB;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    -webkit-transition:height .1s ease-out;
    transition: height .1s ease-out;
}

nav ul li:hover .menuBg
{
    color: #0a0;
    height: 100%;
}
.logLi
{
    background: #FF9913;
    margin-right: 25px;
}
.logLi a
{
    color: #fff;
    display: inline-block;
    padding: 0 10px;
    line-height: 15px;
}
.logLi a:hover
{
    color: #2577E3;
}
.logLi a:first-child
{
    border-right: 1px solid #fff;
    height: 15px;
}

.btn {
    border-radius: 0;
    /*background: #FF9913;*/
}
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/*自定义iconfont 图标*/

@font-face {
    font-family: 'iconfont';
    src: url('iconfont/iconfont.eot');
    /* IE9*/
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 64px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    /*color: #c33;*/
}




.inheritFont
{
	line-height: 1.5;
	/*padding: 10px 30px;*/
	background: #6cf;
	display: inline-block;
	color: #fff;
}


footer>.container-fluid
{
    background: #6cf;
    color: #fff;
    background: url("img/worldmap-sm.jpg");
    position: relative;
}

.blueCover
{
    width: 100%;
    height: 100%;
    background: #0E50A8;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
    filter:Alpha(opacity=90); /*ie8-*/
}

footer ul
{
    list-style: none;
    margin-left: 0;
}

footer ul li
{
    margin-left: -40px;
    color: #fff;
    height: 30px;
}

.copyright
{
    font-size: 12px;
    color: #6093C9;
    margin-bottom: 10px;
}

.codeDiv
{
    text-align: right;
}

.codeDiv>ul
{
    list-style: none;
    margin-top: 20px;

}
.codeDiv>ul li
{
    width: 120px;
    height: 150px;
    background: #fff;
    float: right;
    margin-left: 20px;
    display: inline-block;
}

.codeDiv ul li img
{
    display: block;
    margin: 0 auto;
    width: 90%;
}

footer h5
{
    color: #666;
    text-align: center;
    font-size: 12px;
}

.carouselIndex
{
    height: 380px;
}

.carouselIndex img
{
    width: 100%;
}

.carouselDots
{
    width: 20%;
    left: 90%;
}

.searchContainer
{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
}

.searchPanel
{
    height: 300px;
}

.searchBoard
{
    background: #fff;
    height: 300px;
    border: 3px solid #2577E3;
    border-left: none;
}

.searchTabs
{
    padding: 0;
    background: #2577E3;
    height: 100%;
    border:3px solid #2577e3;
    border-right: none;
}
.searchTabs p
{
    padding: 0;
    margin: 0;
    width: 100%;
    background: #2577E3;
    border-bottom: 1px dashed #6093C9;

    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.searchTabs p:hover
{
    cursor:pointer;
}

.searchTabs p:first-child
{
    background: #fff;
    color: #2577E3;
    border-left: 4px solid #FF9913;
}

.searchTabs p:last-child
{
    border:none;
}

.searchInput
{
    margin-top: 40px;
}



.searchBtn
{
    margin-top: 20px;
    width: 50%;
    background: #FF9913;
}

section
{
    margin-bottom: 40px;
}

section:after
{
    content: '';
    height: 0;
    display: block;
    clear: both;
}
.tuangouCard
{
}

.tuangouCtntRow
{
    height: 320px;
    overflow: hidden;
}

.btnMore
{
    height: 40px;
}

.sectionLabel
{
    background: #D0021B;
    width: 120px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.tuangouImgDiv
{
    /*width: 100%;*/
    height: 260px;
    overflow: hidden;
    position: relative;
}

.tuangouImg
{
    /*height: 100%;*/
    width: 100%;
    /*margin-left: -15px;*/
}
.brand
{
    position: absolute;
    top: 10px;
    left: 10px;
}

.tuangouTitleDiv
{
    height: 60px;
    background: #D0021B;
    font-size: 24px;
    color: #fff;
    line-height: 60px;
    text-indent: 10px;
}
.tuangouPrice
{
    text-align: right;
    float: right;
    margin-right: 10px;
    color: #FF9913;
}
.colorWhite
{
    color: #fff !important;
}
.colorRed
{
    color: #FE3824 !important;
}
.colorYellow
{
    color: #FF9913;
}
.colorGrey
{
    color: #aaa;
}
.colorDDD
{
    color: #ddd !important;
}
.colorAAA
{
    color: #aaa !important;
}
.color666
{
    color: #666 !important;
}
.color999
{
    color: #999 !important;
}
.color333
{
    color: #333 !important;
}
.colorBlue
{
    color: #2577E3;
}
.bgRed
{
    background: #FE3824;
}
.bgBlue
{
    background: #2577E3 !important;
}
.fz24
{
    font-size: 24px !important;
}
.fz36
{
    font-size: 36px !important;
}
.fz18
{
    font-size: 18px !important;
}
.fz12
{
    font-size: 12px !important;
}
.fz10
{
    font-size: 10px !important;
}

.marginTop10
{
    margin-top: 10px;
}
.marginTop20
{
    margin-top: 20px;
}
.marginBottom30
{
    margin-bottom: 30px !important;
}
.marginBottom20
{
    margin-bottom: 20px !important;
}
.marginRight10
{
    margin-right: 10px;
}
.marginLeft10
{
    margin-left: 10px;
}
.marginLeft-10
{
    margin-left: -12px;
}
.lineThrough
{
    text-decoration: line-through;
}
.left0
{
    left: 0;
}
.left5
{
    left:5px;
}
.marginLeft-15
{
    margin-left: -15px;
}
.marginRight-15
{
}
.h60
{
    height: 60px !important;
}
.overHidden
{
    overflow: hidden !important;
}
.lh60
{
    line-height: 60px;
}
.lh30
{
    line-height: 30px !important;
}
.lh24
{
    line-height: 24px !important;
}
.lh20
{
    line-height: 20px !important;
}
.lh14
{
    line-height: 14px !important;
}
.taCenter
{
    text-align: center !important;
}
.taLeft
{
    text-align: left;
}
.taRight
{
    text-align: right;
}
.h50
{
    height: 50px !important;
}

.noWrap
{
    white-space:nowrap !important;  
}

.tuangouTxt
{
    border: 1px solid #ddd;
    margin-left: -10px;
}
.tuangouTxt p
{
    font-size: 18px;
    color: #666;
}

.bdrRight
{
    border-right:1px solid #ddd;
}

.bdrRightDash
{
    border-right: 1px dashed #ccc;
}

.timeDown
{
    height: 55px;
    line-height: 55px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: -10px;
}

.timeDown p
{
    color: #fff;
    font-size: 24px;
}
.borderNone
{
    border: none !important;
}

.saleCard
{
    height: 170px;
    position: relative;
    /*border: 1px solid #0a0;*/
    /*padding-left: 6px;*/
}

.saleCardInner
{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.saleCardInner>img
{
    position: absolute;
    bottom: 0;
}


.routeCard
{
    
    height: 180px;
    position: relative;
}



.routeCardInner
{
    width: 100%;
    height: 100%;
    border: 1px solid #2577E3;
    background: #eee;
    overflow: hidden;
}

.dashLine
{
    margin: 0 25px;
}

.routeCardInner>p
{
    height: 100px;
    width: 100%;
    background: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
    color: #2577e3;
}

.routePrice
{
    width: 100%;
    height: 60px;
    margin-top: 10px;
}
.routePrice>div
{
    width: 33%;
    border-right: 1px solid #fff;
    float: left;
    display: inline-block;
    height: 100%;
}

.routePrice>div>p
{
    text-align: center;
    color: #aaa;
    padding: 0;
    margin: 0;
}

.belt
{
    width: 150px;
    height: 24px;
    font-size: 12px;
    background: #FE3824;
    color: #fff;
    text-align: center;
    line-height: 24px;
    
    /*transform: rotate(45deg);*/
    /*-webkit-transform:rotate(45deg);*/

    position: absolute;
    top: 10px;
}

.beltWrap
{
    width: 100px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    right: 10px;
}

.giftCard
{
    font-size: 14px;
}
.giftCard img
{
    width: 100%;
}
.giftCard p
{
    margin-top: 10px;
}




.neimaoTable tr
{
    font-size: 16px;
}

.neimaoTable tr th
{
    text-align: center;
    background: #2577E3;
    color: #fff;
}
.neimaoTable tr td
{
    text-align: center;
    position: relative;
    height: 110px;
    padding-top: 20px !important;
    color: #2577E3;
    font-size: 20px;
}
.routeNumTd p
{
    color: #aaa;
    font-size: 12px;
}

.routeNum
{
    border-bottom: 1px solid #ddd;
    font-size: 18px !important;
    letter-spacing: 2px;
    margin-top: -5px;
    margin-bottom: 3px;
}
.infoTxt
{
    color: #333 !important;
    font-size: 12px !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.btnOrder
{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.neimaoInput
{
    margin-top: 20px;
}

.neimaoSearchBtn
{
    position: absolute;
    width: 60%;
    height: 90px;
    margin-top: 20px;
    right: 20px;
    font-size: 24px;
}

.neimaoSearchRow
{
    color: #2577E3 !important;
}

.neimaoCheck
{
    margin: 0;
    height: 30px;
}

.neimaoPagination
{
    list-style: none;
    float: right;
}
.neimaoPagination li 
{
   float: left;
}
.neimaoPagination li a
{
    height: 35px;
    padding: 0 10px;
    display: inline-block;
    border: 1px solid #ccc;
    line-height: 35px;
    text-align: center;
    margin-left: 2px;
    color: #2577E3;    
}

.neimaoPagination li a:hover
{
    background: #2577E3;
    color: #fff;
}


.pageInput
{
    height: 35px;
    float: right;
    width: 50px;
    margin-left: 2px;
}

.neimaoPageBtn
{
    float: right;
    height: 35px;
    margin-left: 2px;
    background: none;
    border: 1px solid #ccc;
    color: #2577E3;
}

.neimaoPageBtn:hover
{
    background: #2577E3;
    color: #fff;
}
.pageDots
{
    border: none !important;
}
.pageDots:hover
{
    background: #fff !important;
}

.tuangouBannerImg
{
    width: 100%;
}

.imgCard
{
    border: 1px solid #BCD5F6;
    overflow: hidden;
}
.imgDiv
{
    overflow: hidden;
    width: 100%;
}
.imgDiv img
{
    width: 100%;
}

.col33
{
    width: 33%;
    display: block;
    float: left;
    height: 100%;
}
.col25
{
    width: 25%;
    display: block;
    height: 100%;
    float: left;
}
.col66
{
    width: 66%;
    display: block;
    float: left;
    height: 100%;
}

.bdr
{
    border: 1px solid #0a0;
}

.oldPrice
{
    /*lineThrough colorDDD marginTop10 */
    text-decoration: line-through;
    font-size: 12px;
    color: #ddd;
    margin-top: 10px;
    margin-bottom: 0;
}
.tuanLabel
{
    background: #0A56BB;
    display: inline-block;
    padding: 0 5px;
    height: 18px;
    color: #ddd;
    line-height: 18px;
    margin-top: -10px !important;
}

.qiang
{
    color: #fff;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    position: relative;
    background: #FE3824;
    /*border: 1px solid #0a0;*/
}
.qiang:before
{
    content: '';
    height: 0;
    width: 0;
    display: block;
    border-top: 30px solid transparent;
    border-right: 20px solid #FE3824;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: -20px;
}


.userInfo
{
    background: #FFEBD0;
    width: 100%;
    height: 100px;
    padding: 0 !important;
}
.userInfo tr
{
    padding: 0 !important;
    vertical-align: middle;
}

.userInfo tr td
{
    padding: 0 !important;
    vertical-align: middle;
    /*border-right: 1px solid #c33;*/
}

.userInfo tr td p
{
    vertical-align: middle;
}
.userNum
{
    font-size: 16px;
    text-align: left;
}
.userNum .iconfont
{
    color: #FE3824;
}
.userNum p:first-child
{
    margin-top: 30px;
    margin-bottom: 0;
}
.userIcon
{
    width: 120px !important;
}
.userIcon img
{
    height: 88px;
}
.jifenIcon img
{
    margin-top: 15px;
}
.jifenIcon p
{
    margin-top: 5px;
}

.jifenCurrent
{
 
}
.jifenCurrent p
{
    font-size: 16px;
    color: #666;
    line-height: 16px;
}
.jifenCurrent p:first-child
{
    margin-top: 10px;
}



.giftTable
{
    width: 100%;
    background: #eee;
    border: 1px solid #ccc;
    color: #666;
}
.giftTable tr
{
    padding-left: 20px;
}
.giftTable th
{
    background: #2577e3;
    color: #fff;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
}

.giftTable th:first-child
{
    padding-left: 20px;
}
.giftTable td:first-child
{
    padding-left: 20px;
    width: 120px;
    color: #aaa;
}
.giftTable td:nth-child(2)
{
    width: 60px;
}

.giftTable td
{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #fff;
    font-size: 12px;
    /*border-right: 1px solid #0a0;*/
}


.giftTalbe tr td:nth-child(2)
{
    color: #FE3824 !important;
}
.jifenUl
{
    list-style:none;
}
.jifenUl li
{
    float: left;

    padding: 0 5px;
    margin: 0 10px;
}

.giftMultiBtn
{
    background: #eee;
    border: 1px solid #aaa;
    text-align: center;
    height: 30px;
}

.giftInput
{
    height: 30px !important;
    width: 80px;
}

.giftConfirmBtn
{
    margin-left: 10px;
    height: 35px;
    margin-right: 20px;
    background: #FE3824;
    border: 1px solid #FE3824;
}

.sortBar
{
    width: 100%;
    height: 40px;
    padding: 0;
    padding-left: 20px;
    background: #eee;
    border: 1px solid #ccc;
    margin-top: 20px;
    font-size: 14px;
    line-height: 40px;
    color: #666;
    vertical-align: middle;
    position: relative;
}

.sortUl
{
    list-style: none;
    margin-left: 30px;
    display: inline-block;
    float: left;
    /*margin-right: 100px;*/
}

.sortUl li
{
    float: left;
    display: inline-block;
}

.sortUl li button
{
    height: 24px;
    font-size: 12px;
    margin: 0 2px;
    padding: 0 5px;
    line-height: 24px;
    background: #fff;
    border: 1px solid #ccc;
}

.sortUl li button:hover
{
    background: #FE3824;
    color: #fff;
    border: 1px solid #FE3824;
}

.sortActive
{
    color: #FE3824;
    border: 1px solid #FE3824;
}

.sortInput
{
    float: left;
    margin-left: 20px;
}
.sortInput input
{
    height: 24px;
}
.sortInput button
{
    height: 24px;
    font-size: 12px;
    background: #FE3824;
    border: none;
    line-height: 24px;
    color: #fff;
    padding: 0 10px;
    border: 1px solid #FE3824;
}

.chkbox
{
    float: left;
    font-size: 12px;
}

.sortPage
{
    float: right;
    margin-right: 20px;
}

.sortPage button
{
    height: 24px;
    width: 24px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
}

.sortPage button:hover
{
    background: #FE3824;
    color: #fff;
    border: none;
}
.giftImgDiv
{
    /*height: 10px;*/
    overflow: hidden;
    /*border: 5px solid #c33;*/
    border: 1px solid #eaeaea;
}

.giftImgDiv img
{
    width: 100%;
}


.btn-danger
{
    background: #FE3824;
}

.giftCard
{
    position: relative;
    color: #999;
    /*border: 1px solid #eee;*/
    /*background: #eee;*/
}
.giftCard button
{
    position: absolute;
    /*right: 5px;*/
    right: 0;
    /*bottom: 1px;*/
    bottom: 0;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    padding: 0 10px;
    border:1px solid #FE3824;
}

.giftCard h4
{
    font-size: 14px;
    color: #666;
    /*margin-left: 5px;*/
}
.giftCard p
{
    /*margin-left: 5px;*/
    line-height: 12px;
}

.giftSection .row
{
    margin-bottom: 30px;
}

.tracePanel
{
    height: 80px;
    width: 100%;
    background: #D3E4F9;
    border: 1px solid #7CADEE;
}

.traceBtn
{
    width: 200px;
    height: 40px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 40px;
    margin-top: 20px;
    position: absolute;
    right: 20px;
}

.traceTitle
{
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    background: #2577e3;
    color: #fff;
    padding-left: 20px;
}

.traceTable
{
    width: 100%;
    margin-top: 50px;
}
.traceTable td
{
    text-align: center;
    position: relative;
    /*border: 1px solid #c33;*/
    color: #2577e3;
}
.traceTable td img
{
    display: block;
    margin: 0 auto 5px auto;
}

.traceDashLine
{
    width: 90%;
    border-top: 3px dashed #2577E3;
    position: absolute;
    top: 123px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.traceWrap
{
    border: 1px solid #2577e3;
}

.traceStatus
{
    font-size: 24px;
    color: #FE3824;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.datePanel
{
    padding-left: 20px;
    padding-top: 20px;
    background: #eee;
}

.dateTable
{
    width: 100%;
}
.dateTable td
{
    height: 40px;
    padding-left: 20px;
    font-size: 16px;
    position: relative;
    color: #666;
}
.dateTable td span
{
    position: absolute;
    top: -4px;
    left: 20px;
}
.dateTable .col5
{
    width: 60%;
}
.dateTable tr td:first-child
{
    border-left: 1px dashed #aaa;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: #333;
}
.dateTable tr td:nth-child(2)
{
    font-size: 18px;
    font-weight: bold;
    color: #333;
}



.traceDot:after
{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #eee;
    background: #ccc;
    position: absolute;
    left: -6px;
    top: 0;
}

/*
blue:#2577E3
dark-blue:0A56BB;
yellow:#FF9913

red:FE3824;

deepRed:D0021B;

*/







